<div class="" style="text-align:center;background:url(assets/img/backimage.jpg);background-size:100%;display:inline-block;width:100%;height:100%;">

    <form (ngSubmit)="doLogin()" class="card col-sm-offset-4 col-sm-4 col-xs-12" style="display: inline-block;padding: 20px;top: 20vh;">
      <div class="">
        <img src="./assets/img/GoodService.jpg" alt="" style="width:100px;">
         <h4 style="margin-top:0;">Good Service ~ Allotment Team</h4>
      </div>
      <div class="">
        <input type="tel" name="" value="" [(ngModel)]="phone" name="phone" placeholder="Enter Phone Number" style="width:100%;margin-top:20px;padding:10px;">
      </div>
      <div class="">
        <input type="password" name="" value="" [(ngModel)]="password" name="password"  placeholder="Enter Password" style="width:100%;margin-top:20px;padding:10px;">
      </div>
      <div class="">
        <input type="submit" value="Login" style="width:100%;margin-top:20px;padding:10px;background-color: rgba(84, 84, 230, 0.44);">
      </div>
    </form>

  </div>
