<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="header">
                  <h4 class="title pull-left">Service Team</h4>
                  <button class="btn-success" style="float: right; color: white;" (click)="showAddDialog()" >Add New Member</button>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                  <table class="table table-striped">
                      <!-- <thead>
                          <tr>
                              <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                          </tr>
                      </thead> -->
                      <td>S.No.</td>
                      <!-- <td>JobId</td> -->
                      <td>Phone</td>
                      <td>Name</td>
                      <td>Email</td>

                      <tbody>
                          <tr *ngFor="let row of allAllotmentTeam;let i=index;">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{i+1}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.st_phone}}</td>
                              <td>{{row.name}}</td>
                              <td>{{row.email}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <button class="btn-info" style="color: white;" (click)="viewServiceTeamDetails(row.st_phone)" >Details</button>
                                <button class="btn-primary" style="color: white;" (click)="editServiceTeamDetails(row.st_phone)" >Edit</button>
                                <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                <button class="btn-danger" style="color: white;" (click)="deleteServiceTeam(row.st_phone)" >Remove</button>
                            </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>
<app-dialog [(visible)]="showDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Service Team Member Details</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
               </div>
                <div class="content">
                  <div class="row">
                      <div class="col-md-3">
                        <div class="author">
                          <img class="avatar border-white" src="{{st_details.photo}}" alt="..." style="width: 100px; height:  100px;" />
                        </div>
                      </div>
                      <div class="col-md-9">
                        <p><b>Phone:</b> {{st_details.st_phone}}</p>
                        <p><b>Name:</b> {{st_details.name}}</p>
                        <p><b>Address:</b> {{st_details.address}}, {{st_details.city}},
                                    {{st_details.state}} - {{st_details.zip}}</p>
                        <p><b>Password:</b> {{st_details.password}}</p>
                        <p><b>Category:</b></p>
                        <ul *ngFor='let cat of category; let i = index'>
                            <div class="col-md-12">
                              <li *ngIf='categ[cat]==1'>{{cat}}</li>
                            </div>
                          </ul>
                      </div>
                  </div>
                  <!-- <div class="col-md-12" *ngFor='let cat of category'>
                    <div >
                      {{(cat==1)?cat:''}}

                    </div>

                  </div> -->
                  <!-- <div class="col-md-12" *ngFor='let cat of category; let i = index'>
                    {{categ.AC}}
                  </div> -->

                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showEditDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Update Service Team Member Details</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
               </div>
                <div class="content">
                  <div class="row">
                    <div class="col-md-3 form-group">
                      <div class="author">
                        <img class="avatar border-white" src="{{st_details.photo}}" alt="..." style="width: 90px; height:  90px;" />
                      </div>
                    </div>
                    <div class="col-md-9 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.st_phone" name="st_phone"  type="number" placeholder="Enter Phone Number" readonly>
                    </div>
                    <div class="col-md-9 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.name" name="st_name" type="text" placeholder="Enter Name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.email" name="st_email" type="email" placeholder="Enter Email">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.aadhaar" name="st_aadhaar" type="text" placeholder="Enter Aadhaar">
                    </div>
                    <div class="col-md-6 form-group">
                      <textarea class="form-control border-input" [(ngModel)]="st_details.address" name="st_address" type="text" rows="7" placeholder="Enter Address"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.city" name="st_city" type="text" placeholder="Enter City">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.state" name="st_state" type="text" placeholder="Enter State">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.zip" name="st_zip" type="number" placeholder="Enter Zip">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_details.password" name="st_password" type="text" placeholder="Enter Password">
                    </div>
                    <div class="col-md-12 form-group" id="check" >
                      <p>Select Category:</p>
                      <div *ngFor='let cat of category; let i = index'>
                        <div class="col-md-6">
                        <label>
                          <input [checked]=categ[cat] type="checkbox" name="category" value="{{cat}}"
                                 (change)="updateCheckedCategory(cat, $event)" #abc>
                          {{cat}}
                        </label>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-success" type="submit" value="Submit" (click)="updateServiceTeamMember()">Update Details</button>
                    </div>

                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showAddNewDialog">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Add New Service Team Member</h4>
                    <hr>
                    <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
               </div>
                <div class="content">
                  <div class="row">
                   <form>
                    <div class="col-md-12 form-group">
                      <input accept="image/*" type="file" placeholder="Choose Image" name="image" class="col-md-12" (change)="fileChanged($event)" #ProfilePic>
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_phone" name="st_phone"  type="number" placeholder="Enter Phone Number">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_name" name="st_name" type="text" placeholder="Enter Name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_email" name="st_email" type="email" placeholder="Enter Email">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_aadhaar" name="st_aadhaar" type="text" placeholder="Enter Aadhaar">
                    </div>
                    <div class="col-md-6 form-group">
                      <textarea class="form-control border-input" [(ngModel)]="st_address" name="st_address" type="text" rows="8" placeholder="Enter Address"></textarea>
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_city" name="st_city" type="text" placeholder="Enter City">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_state" name="st_state" type="text" placeholder="Enter State">
                    </div>
                    <div class="col-md-6 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_zip" name="st_zip" type="number" placeholder="Enter Zip">
                    </div>
                    <div class="col-md-12 form-group">
                      <input class="form-control border-input" [(ngModel)]="st_password" name="st_password" type="text" placeholder="Enter Password">
                    </div>
                    <div class="col-md-12 form-group" id="check" >
                      <p>Select Category:</p>
                      <div *ngFor='let cat of category; let i = index'>
                        <div class="col-md-6">
                        <label>
                          <input [checked]='categoryMap.cat' type="checkbox" name="category" value="{{cat}}"
                                 (change)="updateCheckedCategory(cat, $event)" #abc>
                          {{cat}}
                        </label>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn btn-success" type="submit" value="Submit" (click)="addNewServiceTeam()">Add Member</button>
                    </div>
                  </form>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>
