<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card"> 
              <div class="header">
                  <h4 class="title pull-left">All Accepted Leads</h4>
                  <hr>
                  <!-- <div class="pull-right create-button" (click)="showDialog = !showDialog">Create New Job</div> -->
              </div>
              <div class="content table-responsive table-full-width " style="margin-left:1px; margin-right:1px;">
                  <table class="table table-striped">
                      <!-- <thead>
                          <tr>
                              <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                          </tr>
                      </thead> -->
                      <td>Lead</td>
                      <!-- <td>JobId</td> -->
                      <td>Customer_Phone</td>
                      <td>Service_Team</td>
                      <td>Category</td>
                      <td>Brand</td>
                      <td>Acccepted Date & Time</td>

                      <tbody>
                          <tr *ngFor="let row of allLeadsDetail;let i=index;">
                              <!-- <p>{{ jobpostdetail?.length }}</p> -->
                              <td>{{row.l_id}}</td>
                              <!-- <td>{{row.job_id}}</td> -->
                              <td>{{row.c_phone}}</td>
                              <td>{{row.st_phone}}</td>
                              <td>{{row.category}}</td>
                              <td>{{row.brand}}</td>
                              <td>{{row.acceptedDate}}</td>
                              <!-- <td>{{row.address1}}<br>{{row.address2}}<br>{{row.city}}<br>{{row.state}}<br>{{row.zip}}</td> -->
                              <td>
                                <button class="btn-primary" style="color: white;" (click)="followUp(row.l_id,row.st_phone,row.c_phone)" >Follow Up</button>
                                <button class="btn-info" style="color: white;" (click)="viewLead(row.l_id)" >Details</button>
                                <button class="btn-success" style="color: white;" (click)="completed(row.l_id,row.st_phone,row.c_phone)">Completed</button>
                                <!-- <button style="background-color: #0095FF;color: white;" (click)="editLead(row.l_id)" >Edit</button> -->
                                <!-- <button class="btn-primary" style="color: white;" (click)="unAssignLead(row.l_id)" >UnAssign</button> -->
                            </td>
                          </tr>
                      </tbody>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>

<app-dialog [(visible)]="showDialog">

  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Lead Details</a></li>
            <li><a data-toggle="tab" href="#menu1">FollowUp Details</a></li>
          </ul>
          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="card">

                  <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                          <p>
                            <b>Name:</b> {{customerAddressByLeadId.name}}<br>
                            <b>Phone:</b> {{customerAddressByLeadId.c_phone}}<br>
                            <b>Email:</b> {{customerAddressByLeadId.email}}<br>
                            <b>Address:</b> {{customerAddressByLeadId.address}}, {{customerAddressByLeadId.city}},
                                      {{customerAddressByLeadId.state}} - {{customerAddressByLeadId.zip}}
                                      <br>Phone:{{customerAddressByLeadId.optional_phone}}
                          </p>
                        </div>
                        <div class="col-md-12">
                          <hr>
                          <p><b>Category:</b> {{leadsDetailsById.category}}</p>
                          <p><b>Brand:</b> {{leadsDetailsById.brand}}</p>
                          <p><b>Description:</b> {{leadsDetailsById.description}}</p>
                          <p><b>Date & Time:</b> {{leadsDetailsById.date}}</p>
                        </div>
                        <div class="col-md-12">
                          <hr>
                          <p><b>Lead Alloted To:</b></p>
                          <div class="col-md-6">
                            <p><b>Name:</b> {{service_team.name}}</p>
                            <p><b>Email:</b> {{service_team.email}}</p>
                            <p><b>Phone:</b> {{service_team.st_phone}}</p>
                          </div>
                          <div class="col-md-6">
                            <div class="author">
                              <img class="avatar border-white" src="{{service_team.photo}}" alt="..." style="width: 90px; height:  90px;" />
                            </div>
                          </div>
                          <!-- <button class="btn btn-default" (click)="assignLead()" >Assign Lead</button> -->
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div id="menu1" class="tab-pane fade">
              <div class="card">

                  <div class="content">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let x of followupmsg">
                            <p>
                              <b>Worked By:</b> {{x.st_phone}}<br>
                              <b>Added Date:</b> {{x.date}}<br>
                              <b>FollowUp Date:</b> {{x.followUpDate}}<br>
                              <b>Message:</b> {{x.message}}<br>
                              <span *ngIf="x.audio">
                                <audio controls>
                                        <source [src]="x.audio">
                                </audio>
                              </span>
                            </p>
                            <div class="col-md-4" *ngFor="let y of x.images">
                              <img src="{{y.image}}" width="100" height="100">
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</app-dialog>


<app-dialog [(visible)]="showDialogFollowUp">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Follow Up</h4>
                    <hr>
                </div>
                <div class="content">
                  <div class="row" >


                      <div class="col-md-12">

                       <form>
                        <div class="col-md-12">
                          <textarea class="form-control border-input" [(ngModel)]="msg" name="msg" placeholder="type a message..." rows="5"></textarea>
                        </div>

                        <div class="col-md-4">
                          <p>Image:</p>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="file" value="" accept="image/*" name="image" (change)="fileChanged($event)" multiple #fileImg>
                        </div>

                        <div class="col-md-4">
                          <p>Audio:</p>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="file" name="audio" value="" accept="audio/*" (change)="fileChanged1($event)" #fileAudio>
                        </div>

                        <div class="col-md-4">
                          <p>Date:</p>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control border-input" min="{{minDate}}" type="date" name="date" [(ngModel)]="followUpDate">
                        </div>

                        <div class="col-md-12">
                          <button class="btn-primary" style="color: black;" type="button" name="button" (click)="followUpInfo()">Submit</button>
                        </div>
                       </form>

                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>

<app-dialog [(visible)]="showDialogCompleted">
  <div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h4 class="title pull-left">Complete Lead Info</h4>
                    <hr>
                </div>
                <div class="content">
                  <div class="row" >


                      <div class="col-md-12">

                       <form>
                        <div class="col-md-12">
                            <textarea class="form-control border-input" [(ngModel)]="billDescription" name="billDesc" placeholder="Enter Bill Description (Service charge/parts/etc..)" rows="5"></textarea>
                        </div>
                        <div class="col-md-6">
                            <p>Amount (₹):</p>
                        </div>
                        <div class="col-md-6">
                            <input class='form-control' type="number" [(ngModel)]='billAmount' name="billamou" (ngModelChange)="passAmount()" placeholder="Rupees">
                        </div>
                        <div class="col-md-6">
                            <p>GST:
                            <input type="checkbox" checked="false" [(ngModel)]="gst" name='gstadd' (ngModelChange)="gstCalculate()"></p>
                        </div>
                        <div class="col-md-6">
                            <p>Total: {{totalAmount}}</p>
                        </div>

                        <div class="col-md-12">
                          <textarea class="form-control border-input" [(ngModel)]="msg" name="msg" placeholder="type a message..." rows="5"></textarea>
                        </div>

                        <div class="col-md-4">
                          <p>Image:</p>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="file" value="" accept="image/*" name="image" (change)="fileChanged($event)" multiple #fileImg>
                        </div>

                        <div class="col-md-4">
                          <p>Audio:</p>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control" type="file" name="audio" value="" accept="audio/*" (change)="fileChanged1($event)" #fileAudio>
                        </div>

                        <div class="col-md-4">
                          <p>Lead Completed Date:</p>
                        </div>
                        <div class="col-md-8">
                          <input class="form-control border-input" min="{{minDate}}" type="date" name="date" [(ngModel)]="followUpDate">
                        </div>

                        <div class="col-md-12">
                          <button class="btn-primary" style="color: black;" type="button" name="button" (click)="followUpInfo()">Submit</button>
                        </div>
                       </form>

                      </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</app-dialog>
